{% load i18n %}
{% load instance_config %}

<!DOCTYPE html>
<!--
{{ header_comment }}-->
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Tree mapping at metaStudio{% block instance_title %}{% endblock %}{% block page_title %}{% endblock %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="/favicon.png" />
    {% if settings.DEBUG %}
    <link href="{{ STATIC_URL }}css/vendor.css" rel="stylesheet">
    {% else %}
    <link href="{{ STATIC_URL }}css/vendor.min.css" rel="stylesheet">
    {% endif %}

    {% block application_css %}
    {% if settings.DEBUG %}
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    {% else %}
    <link href="{{ STATIC_URL }}css/main.min.css" rel="stylesheet">
    {% endif %}

    <style type="text/css">
      .areas {
          color:#000000;
          background-color:#ccff99;
      }

       ul .areas {
       width:900px;
       margin-bottom:20px;
       overflow:hidden;
       border-top:1px solid #ccc;

       }

       li{
       line-height:1.5em;
       /*border-bottom:1px solid #ccc; */
       float:left;
       display:inline;

       }


       .double li  { width:50%;} /* 2 col */
       .triple li  { width:33.333%; } /* 3 col */
       .quad li    { width:25%; } /* 4 col */
       .six li     { width:16.666%; } /*

    </style>

    {% endblock application_css %}

    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

    {% block head_extra %}
    {% endblock head_extra %}
  </head>
  <body>
    {% if settings.GOOGLE_ANALYTICS_ID %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-{{ settings.GOOGLE_ANALYTICS_ID }}"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-{{ settings.GOOGLE_ANALYTICS_ID }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
    <div {% block outermost_atts %}{% endblock outermost_atts %} class="wrapper">
      {% block topnav %}
      <!-- Top Nav -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="collapse navbar-collapse" id="otm-navbar-collapse">
          <ul class="pull-left nav navbar-nav navbar-left">
            {# Since the active style changes on a page-by-page basis we use nested blocks below. These nested blocks can then be overriden to change which tab is active. #}
            {% block instancetopnav %}
            {% if last_instance %}
              <li class="explore-trees {% block activeexplore %}active{% endblock %}"><a href="{% url 'map' instance_url_name=last_instance.url_name %}">{% trans "Explore Trees" %}</a></li>
              {% if last_instance|feature_enabled:'add_plot' and last_effective_instance_user %}
              <li data-feature="add_plot">
                <a data-class='add-tree'
                   data-always-enable='{{ last_effective_instance_user|plot_is_writable }}'
                   data-disabled-title='{% trans "Adding trees is not available to all users" %}'
                   data-href="{% url 'map' instance_url_name=last_instance.url_name %}?m=addTree"
                   disabled='disabled'>{% trans "Add a Tree" %}</a>
              </li>
              {% endif %}
            {% endif %}
            {% endblock instancetopnav %}
          </ul>
          <ul class="pull-right nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
              <li class="hidden-xs {% block activeuser %}{% endblock %}">
                <a href="{% url 'profile' %}">{% trans "My Account" %}
                  {% if last_instance %}
                    {% if reputation %}
                    <span class="reputation">({{ last_effective_instance_user.reputation }} rep)</span>
                    {% endif %}
                  {% endif %}
                </a>
              </li>
              <li class="hidden-xs"><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
              <li class="user-img">
                <a href="{% url 'profile' %}">
                {% if request.user.thumbnail %}
                  <img src="{{ request.user.thumbnail.url }}">
                {% else %}
                  <img src="{{ STATIC_URL }}img/profile.png">
                {% endif %}
                </a>
              </li>
              <li class="add-menu dropdown visible-xs-inline-block">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-cog"></i>
                </a>
                <ul class="dropdown-menu dropdown-pull-left">
                  <li>
                    <a href="{% url 'profile' %}">{% trans "My Account" %}
                      {% if last_instance %}
                        {% if reputation %}
                        <span class="reputation">({{ last_effective_instance_user.reputation }} rep)</span>
                        {% endif %}
                      {% endif %}
                    </a>
                  </li>
                  <li><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
                </ul>
              </li>
            {% else %}
              <li class="hidden-xs"><a id="login" href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
              {% block signup %}
              <li class="hidden-xs"><a href="{% url 'registration_register' %}">{% trans "Sign Up" %}</a></li>
              {% endblock signup %}
              <li class="add-menu dropdown visible-xs-inline-block">
              <a class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-cog"></i>
                </a>
                <ul class="dropdown-menu dropdown-pull-left">
                  <li><a id="login" href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
                  {% block signup_small %}
                  <li><a href="{% url 'registration_register' %}">{% trans "Sign Up" %}</a></li>
                  {% endblock signup_small %}
                </ul>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endblock topnav %}

      {% block header %}
      <!-- Logo and Search -->
      <div class="header">

        {% block logo %}
        <div class="logo hidden-xs">
          <a href="{% if last_instance %}{% url 'map' instance_url_name=last_instance.url_name %}{% else %}/{% endif %}"
            ><img id="site-logo" src="http://trees.metastudio.org/media/logos/trees-at-ms-logo.png" alt="OpenTreeMap">
          </a>
        </div>

        {% endblock logo %}

        <div class="search-wrapper">
          {% block search %}
          {% endblock search %}
          {% block searchoptions %}
          {% endblock searchoptions %}
        </div>

      </div> <!-- end header -->
      {% endblock header %}

      {% block subhead %}
      {% endblock subhead %}

      {% block export %}
      {% endblock export %}
 
      {% block content %}
      <div class="img" style="height:300px; overflow:hidden;">
  <img src="http://nroer.gov.in/static/img/ciet.ncert/B_Backgroud_Water_Colour_display_1024" style="background-width:100%; background-height:100%; background-repeat:no-repeat; color:white; width: 100%;" > </img>
      </div>

  <div class="inner_content" style="padding-left:5%; padding-top:5% ; border-radius:15px; margin: 0 auto; ">

    <h2> <b>Welcome to Trees@MetaStudio!</b> </h2>
    <p> At metaStudio, we attempt to map the trees in and around our localities.  <a href="/mumbai/page/About/"> To know more about the project, click here.</a> </p>
    <p> Kindly have a look at the various districts and cities we currently map. </p>
    <p>

       <ul id="areas" class="triple">
 <li><a href="/mumbai/map">Mumbai</a> </li>
 <li><a href="/pune/map">Pune</a> </li>
 <li><a href="/jaipur/map">Jaipur</a> </li>
 <li><a href="/bengaluru/map">Bengaluru</a> </li>
 <li><a href="/ulhasnagar/map">Ulhasnagar</a> </li>
 <li><a href="/kalyan/map">Kalyan</a> </li>
 <li><a href="/navi-mumbai/map">Navi Mumbai</a> </li>
 <li><a href="/hoshangabad/map">Hoshangabad</a> </li>
 <li><a href="/ajmer/map">Ajmer</a> </li>
 <li><a href="/adilabad/map">Adilabad</a> </li>
 <li><a href="/mangalore/map">Mangalore</a> </li>
 <li><a href="/ahmadnagar/map">Ahmadnagar</a> </li>
 <li><a href="/goa/map">Goa</a> </li>
 <li><a href="/agra/map">Agra</a> </li>
 <li><a href="/chandigarh/map">Chandigarh</a> </li>
 <li><a href="/ahmadabad/map">Ahmadabad</a> </li>
 <li><a href="/thiruvananthapuram/map">Thiruvananthapuram</a> </li>
 <li><a href="/aizawl/map">Aizawl</a> </li>
 <li><a href="/alappuzha/map">Alappuzha</a> </li>
 <li><a href="/delhi/map">Delhi</a> </li>
 <li><a href="/akola/map">Akola</a> </li>
 <li><a href="/thane/map">Thane</a> </li>
 <li><a href="/alirajpur/map">Alirajpur</a> </li>
 <li><a href="/aligarh/map">Aligarh</a> </li>
 <li><a href="/allahabad/map">Allahabad</a> </li>
 <li><a href="/almora/map">Almora</a> </li>
 <li><a href="/alwar/map">Alwar</a> </li>
 <li><a href="/ambala/map">Ambala</a> </li>
 <li><a href="/ambedkar-nagar/map">Ambedkar Nagar</a> </li>
 <li><a href="/amravati/map">Amravati</a> </li>
 <li><a href="/bishnupur/map">Bishnupur</a> </li>
 <li><a href="/anugul/map">Anugul</a> </li>
 <li><a href="/nashik/map">Nashik</a> </li>
 <li><a href="/lakhimpur/map">Lakhimpur</a> </li>
 <li><a href="/amritsar/map">Amritsar</a> </li>
 <li><a href="/puruliya/map">Puruliya</a> </li>
 <li><a href="/anuppur/map">Anuppur</a> </li>
 <li><a href="/anand/map">Anand</a> </li>
 <li><a href="/auraiya/map">Auraiya</a> </li>
 <li><a href="/anantapur/map">Anantapur</a> </li>
 <li><a href="/anantnag/map">Anantnag</a> </li>
 <li><a href="/araria/map">Araria</a> </li>
 <li><a href="/anjaw/map">Anjaw</a> </li>
 <li><a href="/bagalkot/map">Bagalkot</a> </li>
 <li><a href="/aurangabad/map">Aurangabad</a> </li>
 <li><a href="/ariyalur/map">Ariyalur</a> </li>
 <li><a href="/bahraich/map">Bahraich</a> </li>
 <li><a href="/azamgarh/map">Azamgarh</a> </li>
 <li><a href="/bageshwar/map">Bageshwar</a> </li>
 <li><a href="/badgam/map">Badgam</a> </li>
 <li><a href="/baghpat/map">Baghpat</a> </li>
 <li><a href="/baleshwar/map">Baleshwar</a> </li>
 <li><a href="/baksa/map">Baksa</a> </li>
 <li><a href="/balaghat/map">Balaghat</a> </li>
 <li><a href="/balangir/map">Balangir</a> </li>
 <li><a href="/banas-kantha/map">Banas Kantha</a> </li>
 <li><a href="/balrampur/map">Balrampur</a> </li>
 <li><a href="/ballia/map">Ballia</a> </li>
 <li><a href="/banda/map">Banda</a> </li>
 <li><a href="/bandipore/map">Bandipore</a> </li>
 <li><a href="/bangalore-rural/map">Bangalore Rural</a> </li>
 <li><a href="/banka/map">Banka</a> </li>
 <li><a href="/bankura/map">Bankura</a> </li>
 <li><a href="/banswara/map">Banswara</a> </li>
 <li><a href="/tumkur/map">Tumkur</a> </li>
 <li><a href="/barmer/map">Barmer</a> </li>
 <li><a href="/amreli/map">Amreli</a> </li>
 <li><a href="/basti/map">Basti</a> </li>
 <li><a href="/baramula/map">Baramula</a> </li>
 <li><a href="/barnala/map">Barnala</a> </li>
 <li><a href="/baran/map">Baran</a> </li>
 <li><a href="/barpeta/map">Barpeta</a> </li>
 <li><a href="/bareilly/map">Bareilly</a> </li>
 <li><a href="/bathinda/map">Bathinda</a> </li>
 <li><a href="/barwani/map">Barwani</a> </li>
 <li><a href="/belgaum/map">Belgaum</a> </li>
 <li><a href="/bastar/map">Bastar</a> </li>
 <li><a href="/bhadrak/map">Bhadrak</a> </li>
 <li><a href="/bauda/map">Bauda</a> </li>
 <li><a href="/bellary/map">Bellary</a> </li>
 <li><a href="/begusarai/map">Begusarai</a> </li>
 <li><a href="/betul/map">Betul</a> </li>
 <li><a href="/bharuch/map">Bharuch</a> </li>
 <li><a href="/bhagalpur/map">Bhagalpur</a> </li>
 <li><a href="/bhind/map">Bhind</a> </li>
 <li><a href="/bhandara/map">Bhandara</a> </li>
 <li><a href="/bharatpur/map">Bharatpur</a> </li>
 <li><a href="/bhilwara/map">Bhilwara</a> </li>
 <li><a href="/bhavnagar/map">Bhavnagar</a> </li>
 <li><a href="/bhiwani/map">Bhiwani</a> </li>
 <li><a href="/bhojpur/map">Bhojpur</a> </li>
 <li><a href="/bhopal/map">Bhopal</a> </li>
 <li><a href="/bid/map">Bid</a> </li>
 <li><a href="/bidar/map">Bidar</a> </li>
 <li><a href="/bijapur/map">Bijapur</a> </li>
 <li><a href="/bokaro/map">Bokaro</a> </li>
 <li><a href="/bongaigaon/map">Bongaigaon</a> </li>
 <li><a href="/bijnor/map">Bijnor</a> </li>
 <li><a href="/gurdaspur/map">Gurdaspur</a> </li>
 <li><a href="/bikaner/map">Bikaner</a> </li>
 <li><a href="/bargarh/map">Bargarh</a> </li>
 <li><a href="/bilaspur/map">Bilaspur</a> </li>
 <li><a href="/buxar/map">Buxar</a> </li>
 <li><a href="/birbhum/map">Birbhum</a> </li>
 <li><a href="/bulandshahr/map">Bulandshahr</a> </li>
 <li><a href="/hailakandi/map">Hailakandi</a> </li>
 <li><a href="/chamoli/map">Chamoli</a> </li>
 <li><a href="/rae-bareli/map">Rae Bareli</a> </li>
 <li><a href="/buldana/map">Buldana</a> </li>
 <li><a href="/cachar/map">Cachar</a> </li>
 <li><a href="/burhanpur/map">Burhanpur</a> </li>
 <li><a href="/chamrajnagar/map">Chamrajnagar</a> </li>
 <li><a href="/central/map">Central</a> </li>
 <li><a href="/champawat/map">Champawat</a> </li>
 <li><a href="/chamba/map">Chamba</a> </li>
 <li><a href="/champhai/map">Champhai</a> </li>
 <li><a href="/changlang/map">Changlang</a> </li>
 <li><a href="/chandauli/map">Chandauli</a> </li>
 <li><a href="/chhatarpur/map">Chhatarpur</a> </li>
 <li><a href="/chandel/map">Chandel</a> </li>
 <li><a href="/chandrapur/map">Chandrapur</a> </li>
 <li><a href="/chennai/map">Chennai</a> </li>
 <li><a href="/chatra/map">Chatra</a> </li>
 <li><a href="/chhindwara/map">Chhindwara</a> </li>
 <li><a href="/chikkaballapura/map">Chikkaballapura</a> </li>
 <li><a href="/chikmagalur/map">Chikmagalur</a> </li>
 <li><a href="/chirang/map">Chirang</a> </li>
 <li><a href="/chitradurga/map">Chitradurga</a> </li>
 <li><a href="/chitrakoot/map">Chitrakoot</a> </li>
 <li><a href="/y-s-r/map">Y.s.r.</a> </li>
 <li><a href="/chittaurgarh/map">Chittaurgarh</a> </li>
 <li><a href="/chittoor/map">Chittoor</a> </li>
 <li><a href="/churachandpur/map">Churachandpur</a> </li>
 <li><a href="/cuttack/map">Cuttack</a> </li>
 <li><a href="/lakhisarai/map">Lakhisarai</a> </li>
 <li><a href="/cuddalore/map">Cuddalore</a> </li>
 <li><a href="/dakshina-kannada/map">Dakshina Kannada</a> </li>
 <li><a href="/darbhanga/map">Darbhanga</a> </li>
 <li><a href="/dakshin-bastar-dantewada/map">Dakshin Bastar Dantewada</a> </li>
 <li><a href="/datia/map">Datia</a> </li>
 <li><a href="/dakshin-dinajpur/map">Dakshin Dinajpur</a> </li>
 <li><a href="/daman/map">Daman</a> </li>
 <li><a href="/darjiling/map">Darjiling</a> </li>
 <li><a href="/damoh/map">Damoh</a> </li>
 <li><a href="/darrang/map">Darrang</a> </li>
 <li><a href="/deoghar/map">Deoghar</a> </li>
 <li><a href="/davanagere/map">Davanagere</a> </li>
 <li><a href="/dhalai/map">Dhalai</a> </li>
 <li><a href="/debagarh/map">Debagarh</a> </li>
 <li><a href="/dehradun/map">Dehradun</a> </li>
 <li><a href="/dewas/map">Dewas</a> </li>
 <li><a href="/deoria/map">Deoria</a> </li>
 <li><a href="/dhamtari/map">Dhamtari</a> </li>
 <li><a href="/dhanbad/map">Dhanbad</a> </li>
 <li><a href="/dhar/map">Dhar</a> </li>
 <li><a href="/dharmapuri/map">Dharmapuri</a> </li>
 <li><a href="/dharwad/map">Dharwad</a> </li>
 <li><a href="/dhaulpur/map">Dhaulpur</a> </li>
 <li><a href="/gurgaon/map">Gurgaon</a> </li>
 <li><a href="/dindigul/map">Dindigul</a> </li>
 <li><a href="/lalitpur/map">Lalitpur</a> </li>
 <li><a href="/dhemaji/map">Dhemaji</a> </li>
 <li><a href="/raichur/map">Raichur</a> </li>
 <li><a href="/dumka/map">Dumka</a> </li>
 <li><a href="/udaipur/map">Udaipur</a> </li>
 <li><a href="/dhenkanal/map">Dhenkanal</a> </li>
 <li><a href="/dindori/map">Dindori</a> </li>
 <li><a href="/dhubri/map">Dhubri</a> </li>
 <li><a href="/coimbatore/map">Coimbatore</a> </li>
 <li><a href="/diu/map">Diu</a> </li>
 <li><a href="/dibrugarh/map">Dibrugarh</a> </li>
 <li><a href="/dungarpur/map">Dungarpur</a> </li>
 <li><a href="/doda/map">Doda</a> </li>
 <li><a href="/dohad/map">Dohad</a> </li>
 <li><a href="/east-khasi-hills/map">East Khasi Hills</a> </li>
 <li><a href="/durg/map">Durg</a> </li>
 <li><a href="/east-godavari/map">East Godavari</a> </li>
 <li><a href="/dimapur/map">Dimapur</a> </li>
 <li><a href="/east-kameng/map">East Kameng</a> </li>
 <li><a href="/erode/map">Erode</a> </li>
 <li><a href="/east-nimar/map">East Nimar</a> </li>
 <li><a href="/faizabad/map">Faizabad</a> </li>
 <li><a href="/east-siang/map">East Siang</a> </li>
 <li><a href="/ernakulam/map">Ernakulam</a> </li>
 <li><a href="/etawah/map">Etawah</a> </li>
 <li><a href="/etah/map">Etah</a> </li>
 <li><a href="/faridabad/map">Faridabad</a> </li>
 <li><a href="/faridkot/map">Faridkot</a> </li>
 <li><a href="/farrukhabad/map">Farrukhabad</a> </li>
 <li><a href="/fatehabad/map">Fatehabad</a> </li>
 <li><a href="/fatehgarh-sahib/map">Fatehgarh Sahib</a> </li>
 <li><a href="/fatehpur/map">Fatehpur</a> </li>
 <li><a href="/ganganagar/map">Ganganagar</a> </li>
 <li><a href="/firozabad/map">Firozabad</a> </li>
 <li><a href="/gautam-buddha-nagar/map">Gautam Buddha Nagar</a> </li>
 <li><a href="/firozpur/map">Firozpur</a> </li>
 <li><a href="/ganjam/map">Ganjam</a> </li>
 <li><a href="/gadag/map">Gadag</a> </li>
 <li><a href="/gwalior/map">Gwalior</a> </li>
 <li><a href="/hamirpur/map">Hamirpur</a> </li>
 <li><a href="/gajapati/map">Gajapati</a> </li>
 <li><a href="/ganderbal/map">Ganderbal</a> </li>
 <li><a href="/dibang-valley/map">Dibang Valley</a> </li>
 <li><a href="/gandhinagar/map">Gandhinagar</a> </li>
 <li><a href="/giridih/map">Giridih</a> </li>
 <li><a href="/gaya/map">Gaya</a> </li>
 <li><a href="/garhwa/map">Garhwa</a> </li>
 <li><a href="/haora/map">Haora</a> </li>
 <li><a href="/golaghat/map">Golaghat</a> </li>
 <li><a href="/garhwal/map">Garhwal</a> </li>
 <li><a href="/harda/map">Harda</a> </li>
 <li><a href="/ghaziabad/map">Ghaziabad</a> </li>
 <li><a href="/goalpara/map">Goalpara</a> </li>
 <li><a href="/ghazipur/map">Ghazipur</a> </li>
 <li><a href="/hardoi/map">Hardoi</a> </li>
 <li><a href="/gonda/map">Gonda</a> </li>
 <li><a href="/godda/map">Godda</a> </li>
 <li><a href="/gopalganj/map">Gopalganj</a> </li>
 <li><a href="/gulbarga/map">Gulbarga</a> </li>
 <li><a href="/gondiya/map">Gondiya</a> </li>
 <li><a href="/gorakhpur/map">Gorakhpur</a> </li>
 <li><a href="/gumla/map">Gumla</a> </li>
 <li><a href="/guna/map">Guna</a> </li>
 <li><a href="/latehar/map">Latehar</a> </li>
 <li><a href="/hardwar/map">Hardwar</a> </li>
 <li><a href="/raigarh/map">Raigarh</a> </li>
 <li><a href="/imphal-east/map">Imphal East</a> </li>
 <li><a href="/hassan/map">Hassan</a> </li>
 <li><a href="/udalguri/map">Udalguri</a> </li>
 <li><a href="/hoshiarpur/map">Hoshiarpur</a> </li>
 <li><a href="/mahamaya-nagar/map">Mahamaya Nagar</a> </li>
 <li><a href="/haveri/map">Haveri</a> </li>
 <li><a href="/hugli/map">Hugli</a> </li>
 <li><a href="/hazaribagh/map">Hazaribagh</a> </li>
 <li><a href="/jagatsinghapur/map">Jagatsinghapur</a> </li>
 <li><a href="/hingoli/map">Hingoli</a> </li>
 <li><a href="/hanumangarh/map">Hanumangarh</a> </li>
 <li><a href="/hyderabad/map">Hyderabad</a> </li>
 <li><a href="/idukki/map">Idukki</a> </li>
 <li><a href="/jajapur/map">Jajapur</a> </li>
 <li><a href="/indore/map">Indore</a> </li>
 <li><a href="/jaintia-hills/map">Jaintia Hills</a> </li>
 <li><a href="/jabalpur/map">Jabalpur</a> </li>
 <li><a href="/jalor/map">Jalor</a> </li>
 <li><a href="/jaisalmer/map">Jaisalmer</a> </li>
 <li><a href="/jalgaon/map">Jalgaon</a> </li>
 <li><a href="/jalandhar/map">Jalandhar</a> </li>
 <li><a href="/jalaun/map">Jalaun</a> </li>
 <li><a href="/jamnagar/map">Jamnagar</a> </li>
 <li><a href="/jalna/map">Jalna</a> </li>
 <li><a href="/jammu/map">Jammu</a> </li>
 <li><a href="/jalpaiguri/map">Jalpaiguri</a> </li>
 <li><a href="/jamtara/map">Jamtara</a> </li>
 <li><a href="/jamui/map">Jamui</a> </li>
 <li><a href="/jashpur/map">Jashpur</a> </li>
 <li><a href="/jaunpur/map">Jaunpur</a> </li>
 <li><a href="/longleng/map">Longleng</a> </li>
 <li><a href="/jhabua/map">Jhabua</a> </li>
 <li><a href="/jhunjhunun/map">Jhunjhunun</a> </li>
 <li><a href="/kaimur-bhabua/map">Kaimur (bhabua)</a> </li>
 <li><a href="/jhajjar/map">Jhajjar</a> </li>
 <li><a href="/jorhat/map">Jorhat</a> </li>
 <li><a href="/latur/map">Latur</a> </li>
 <li><a href="/jhalawar/map">Jhalawar</a> </li>
 <li><a href="/jhansi/map">Jhansi</a> </li>
 <li><a href="/junagadh/map">Junagadh</a> </li>
 <li><a href="/jharsuguda/map">Jharsuguda</a> </li>
 <li><a href="/lohardaga/map">Lohardaga</a> </li>
 <li><a href="/kamrup-metropolitan/map">Kamrup Metropolitan</a> </li>
 <li><a href="/kaithal/map">Kaithal</a> </li>
 <li><a href="/hisar/map">Hisar</a> </li>
 <li><a href="/lower-subansiri/map">Lower Subansiri</a> </li>
 <li><a href="/kachchh/map">Kachchh</a> </li>
 <li><a href="/kangra/map">Kangra</a> </li>
 <li><a href="/kalahandi/map">Kalahandi</a> </li>
 <li><a href="/madhepura/map">Madhepura</a> </li>
 <li><a href="/kancheepuram/map">Kancheepuram</a> </li>
 <li><a href="/ludhiana/map">Ludhiana</a> </li>
 <li><a href="/kamrup/map">Kamrup</a> </li>
 <li><a href="/kandhamal/map">Kandhamal</a> </li>
 <li><a href="/madurai/map">Madurai</a> </li>
 <li><a href="/uttar-bastar-kanker/map">Uttar Bastar Kanker</a> </li>
 <li><a href="/mahasamund/map">Mahasamund</a> </li>
 <li><a href="/kannauj/map">Kannauj</a> </li>
 <li><a href="/mahe/map">Mahe</a> </li>
 <li><a href="/mahendragarh/map">Mahendragarh</a> </li>
 <li><a href="/mahesana/map">Mahesana</a> </li>
 <li><a href="/kanniyakumari/map">Kanniyakumari</a> </li>
 <li><a href="/raipur/map">Raipur</a> </li>
 <li><a href="/udhampur/map">Udhampur</a> </li>
 <li><a href="/kannur/map">Kannur</a> </li>
 <li><a href="/kargil/map">Kargil</a> </li>
 <li><a href="/kanpur-dehat/map">Kanpur Dehat</a> </li>
 <li><a href="/rajkot/map">Rajkot</a> </li>
 <li><a href="/kasaragod/map">Kasaragod</a> </li>
 <li><a href="/kanpur-nagar/map">Kanpur Nagar</a> </li>
 <li><a href="/kansiram-nagar/map">Kansiram Nagar</a> </li>
 <li><a href="/karimganj/map">Karimganj</a> </li>
 <li><a href="/kapurthala/map">Kapurthala</a> </li>
 <li><a href="/kaushambi/map">Kaushambi</a> </li>
 <li><a href="/karbi-anglong/map">Karbi Anglong</a> </li>
 <li><a href="/karimnagar/map">Karimnagar</a> </li>
 <li><a href="/kathua/map">Kathua</a> </li>
 <li><a href="/karnal/map">Karnal</a> </li>
 <li><a href="/jyotiba-phule-nagar/map">Jyotiba Phule Nagar</a> </li>
 <li><a href="/katihar/map">Katihar</a> </li>
 <li><a href="/kendrapara/map">Kendrapara</a> </li>
 <li><a href="/katni/map">Katni</a> </li>
 <li><a href="/khordha/map">Khordha</a> </li>
 <li><a href="/kendujhar/map">Kendujhar</a> </li>
 <li><a href="/khammam/map">Khammam</a> </li>
 <li><a href="/kiphire/map">Kiphire</a> </li>
 <li><a href="/kheda/map">Kheda</a> </li>
 <li><a href="/kheri/map">Kheri</a> </li>
 <li><a href="/kinnaur/map">Kinnaur</a> </li>
 <li><a href="/khunti/map">Khunti</a> </li>
 <li><a href="/kishanganj/map">Kishanganj</a> </li>
 <li><a href="/kishtwar/map">Kishtwar</a> </li>
 <li><a href="/koch-bihar/map">Koch Bihar</a> </li>
 <li><a href="/kodagu/map">Kodagu</a> </li>
 <li><a href="/kodarma/map">Kodarma</a> </li>
 <li><a href="/lawangtlai/map">Lawangtlai</a> </li>
 <li><a href="/kota/map">Kota</a> </li>
 <li><a href="/kohima/map">Kohima</a> </li>
 <li><a href="/lower-dibang-valley/map">Lower Dibang Valley</a> </li>
 <li><a href="/kokrajhar/map">Kokrajhar</a> </li>
 <li><a href="/koppal/map">Koppal</a> </li>
 <li><a href="/lohit/map">Lohit</a> </li>
 <li><a href="/kolar/map">Kolar</a> </li>
 <li><a href="/krishnagiri/map">Krishnagiri</a> </li>
 <li><a href="/kolasib/map">Kolasib</a> </li>
 <li><a href="/koraput/map">Koraput</a> </li>
 <li><a href="/kolhapur/map">Kolhapur</a> </li>
 <li><a href="/kolkata/map">Kolkata</a> </li>
 <li><a href="/lucknow/map">Lucknow</a> </li>
 <li><a href="/kollam/map">Kollam</a> </li>
 <li><a href="/raisen/map">Raisen</a> </li>
 <li><a href="/korba/map">Korba</a> </li>
 <li><a href="/khagaria/map">Khagaria</a> </li>
 <li><a href="/kozhikode/map">Kozhikode</a> </li>
 <li><a href="/lunglei/map">Lunglei</a> </li>
 <li><a href="/krishna/map">Krishna</a> </li>
 <li><a href="/maharajganj/map">Maharajganj</a> </li>
 <li><a href="/madhubani/map">Madhubani</a> </li>
 <li><a href="/umaria/map">Umaria</a> </li>
 <li><a href="/kullu/map">Kullu</a> </li>
 <li><a href="/malappuram/map">Malappuram</a> </li>
 <li><a href="/mandla/map">Mandla</a> </li>
 <li><a href="/mahoba/map">Mahoba</a> </li>
 <li><a href="/mandsaur/map">Mandsaur</a> </li>
 <li><a href="/mathura/map">Mathura</a> </li>
 <li><a href="/maldah/map">Maldah</a> </li>
 <li><a href="/mainpuri/map">Mainpuri</a> </li>
 <li><a href="/mirzapur/map">Mirzapur</a> </li>
 <li><a href="/medak/map">Medak</a> </li>
 <li><a href="/mamit/map">Mamit</a> </li>
 <li><a href="/meerut/map">Meerut</a> </li>
 <li><a href="/malkangiri/map">Malkangiri</a> </li>
 <li><a href="/mandya/map">Mandya</a> </li>
 <li><a href="/mandi/map">Mandi</a> </li>
 <li><a href="/mau/map">Mau</a> </li>
 <li><a href="/mansa/map">Mansa</a> </li>
 <li><a href="/morena/map">Morena</a> </li>
 <li><a href="/mayurbhanj/map">Mayurbhanj</a> </li>
 <li><a href="/kurnool/map">Kurnool</a> </li>
 <li><a href="/koriya/map">Koriya</a> </li>
 <li><a href="/kurung-kumey/map">Kurung Kumey</a> </li>
 <li><a href="/kulgam/map">Kulgam</a> </li>
 <li><a href="/mon/map">Mon</a> </li>
 <li><a href="/mokokchung/map">Mokokchung</a> </li>
 <li><a href="/munger/map">Munger</a> </li>
 <li><a href="/moradabad/map">Moradabad</a> </li>
 <li><a href="/muktsar/map">Muktsar</a> </li>
 <li><a href="/murshidabad/map">Murshidabad</a> </li>
 <li><a href="/muzaffarnagar/map">Muzaffarnagar</a> </li>
 <li><a href="/muzaffarpur/map">Muzaffarpur</a> </li>
 <li><a href="/mysore/map">Mysore</a> </li>
 <li><a href="/nabarangapur/map">Nabarangapur</a> </li>
 <li><a href="/rajouri/map">Rajouri</a> </li>
 <li><a href="/nadia/map">Nadia</a> </li>
 <li><a href="/nagaon/map">Nagaon</a> </li>
 <li><a href="/nalgonda/map">Nalgonda</a> </li>
 <li><a href="/nagaur/map">Nagaur</a> </li>
 <li><a href="/nanded/map">Nanded</a> </li>
 <li><a href="/nagpur/map">Nagpur</a> </li>
 <li><a href="/north-east/map">North East</a> </li>
 <li><a href="/nainital/map">Nainital</a> </li>
 <li><a href="/nalanda/map">Nalanda</a> </li>
 <li><a href="/nandurbar/map">Nandurbar</a> </li>
 <li><a href="/nalbari/map">Nalbari</a> </li>
 <li><a href="/navsari/map">Navsari</a> </li>
 <li><a href="/namakkal/map">Namakkal</a> </li>
 <li><a href="/narayanpur/map">Narayanpur</a> </li>
 <li><a href="/neemuch/map">Neemuch</a> </li>
 <li><a href="/narmada/map">Narmada</a> </li>
 <li><a href="/narsimhapur/map">Narsimhapur</a> </li>
 <li><a href="/nawada/map">Nawada</a> </li>
 <li><a href="/north-24-parganas/map">North 24 Parganas</a> </li>
 <li><a href="/nayagarh/map">Nayagarh</a> </li>
 <li><a href="/sri-potti-sriramulu-nellore/map">Sri Potti Sriramulu Nellore</a> </li>
 <li><a href="/nizamabad/map">Nizamabad</a> </li>
 <li><a href="/mewat/map">Mewat</a> </li>
 <li><a href="/north-tripura/map">North Tripura</a> </li>
 <li><a href="/north-goa/map">North Goa</a> </li>
 <li><a href="/nuapada/map">Nuapada</a> </li>
 <li><a href="/osmanabad/map">Osmanabad</a> </li>
 <li><a href="/pakur/map">Pakur</a> </li>
 <li><a href="/palakkad/map">Palakkad</a> </li>
 <li><a href="/palamu/map">Palamu</a> </li>
 <li><a href="/pali/map">Pali</a> </li>
 <li><a href="/parbhani/map">Parbhani</a> </li>
 <li><a href="/rajnandgaon/map">Rajnandgaon</a> </li>
 <li><a href="/palwal/map">Palwal</a> </li>
 <li><a href="/udupi/map">Udupi</a> </li>
 <li><a href="/panch-mahals/map">Panch Mahals</a> </li>
 <li><a href="/pashchim-champaran/map">Pashchim Champaran</a> </li>
 <li><a href="/panchkula/map">Panchkula</a> </li>
 <li><a href="/rajgarh/map">Rajgarh</a> </li>
 <li><a href="/pathanamthitta/map">Pathanamthitta</a> </li>
 <li><a href="/panipat/map">Panipat</a> </li>
 <li><a href="/panna/map">Panna</a> </li>
 <li><a href="/pashchim-medinipur/map">Pashchim Medinipur</a> </li>
 <li><a href="/papum-pare/map">Papum Pare</a> </li>
 <li><a href="/peren/map">Peren</a> </li>
 <li><a href="/patiala/map">Patiala</a> </li>
 <li><a href="/pashchimi-singhbhum/map">Pashchimi Singhbhum</a> </li>
 <li><a href="/pithoragarh/map">Pithoragarh</a> </li>
 <li><a href="/patan/map">Patan</a> </li>
 <li><a href="/patna/map">Patna</a> </li>
 <li><a href="/phek/map">Phek</a> </li>
 <li><a href="/perambalur/map">Perambalur</a> </li>
 <li><a href="/porbandar/map">Porbandar</a> </li>
 <li><a href="/pilibhit/map">Pilibhit</a> </li>
 <li><a href="/pudukkottai/map">Pudukkottai</a> </li>
 <li><a href="/purba-champaran/map">Purba Champaran</a> </li>
 <li><a href="/dima-hasao/map">Dima Hasao</a> </li>
 <li><a href="/punch/map">Punch</a> </li>
 <li><a href="/pulwama/map">Pulwama</a> </li>
 <li><a href="/purba-medinipur/map">Purba Medinipur</a> </li>
 <li><a href="/purbi-singhbhum/map">Purbi Singhbhum</a> </li>
 <li><a href="/puri/map">Puri</a> </li>
 <li><a href="/purnia/map">Purnia</a> </li>
 <li><a href="/rajsamand/map">Rajsamand</a> </li>
 <li><a href="/rangareddy/map">Rangareddy</a> </li>
 <li><a href="/ramanagara/map">Ramanagara</a> </li>
 <li><a href="/ramban/map">Ramban</a> </li>
 <li><a href="/ratlam/map">Ratlam</a> </li>
 <li><a href="/ramgarh/map">Ramgarh</a> </li>
 <li><a href="/rewa/map">Rewa</a> </li>
 <li><a href="/rampur/map">Rampur</a> </li>
 <li><a href="/ratnagiri/map">Ratnagiri</a> </li>
 <li><a href="/ranchi/map">Ranchi</a> </li>
 <li><a href="/rohtas/map">Rohtas</a> </li>
 <li><a href="/rewari/map">Rewari</a> </li>
 <li><a href="/rayagada/map">Rayagada</a> </li>
 <li><a href="/reasi/map">Reasi</a> </li>
 <li><a href="/sabar-kantha/map">Sabar Kantha</a> </li>
 <li><a href="/ri-bhoi/map">Ri Bhoi</a> </li>
 <li><a href="/rudraprayag/map">Rudraprayag</a> </li>
 <li><a href="/rohtak/map">Rohtak</a> </li>
 <li><a href="/rupnagar/map">Rupnagar</a> </li>
 <li><a href="/sahibganj/map">Sahibganj</a> </li>
 <li><a href="/sagar/map">Sagar</a> </li>
 <li><a href="/saiha/map">Saiha</a> </li>
 <li><a href="/saharanpur/map">Saharanpur</a> </li>
 <li><a href="/saharsa/map">Saharsa</a> </li>
 <li><a href="/salem/map">Salem</a> </li>
 <li><a href="/sahibzada-ajit-singh-nagar/map">Sahibzada Ajit Singh Nagar</a> </li>
 <li><a href="/samastipur/map">Samastipur</a> </li>
 <li><a href="/pratapgarh/map">Pratapgarh</a> </li>
 <li><a href="/sangli/map">Sangli</a> </li>
 <li><a href="/sangrur/map">Sangrur</a> </li>
 <li><a href="/ujjain/map">Ujjain</a> </li>
 <li><a href="/sehore/map">Sehore</a> </li>
 <li><a href="/sant-kabir-nagar/map">Sant Kabir Nagar</a> </li>
 <li><a href="/una/map">Una</a> </li>
 <li><a href="/shahid-bhagat-singh-nagar/map">Shahid Bhagat Singh Nagar</a> </li>
 <li><a href="/saraikela-kharsawan/map">Saraikela-kharsawan</a> </li>
 <li><a href="/senapati/map">Senapati</a> </li>
 <li><a href="/upper-siang/map">Upper Siang</a> </li>
 <li><a href="/saran-chhapra/map">Saran (chhapra)</a> </li>
 <li><a href="/shimoga/map">Shimoga</a> </li>
 <li><a href="/satara/map">Satara</a> </li>
 <li><a href="/vaishali/map">Vaishali</a> </li>
 <li><a href="/seoni/map">Seoni</a> </li>
 <li><a href="/satna/map">Satna</a> </li>
 <li><a href="/uttar-dinajpur/map">Uttar Dinajpur</a> </li>
 <li><a href="/shahjahanpur/map">Shahjahanpur</a> </li>
 <li><a href="/serchhip/map">Serchhip</a> </li>
 <li><a href="/uttarkashi/map">Uttarkashi</a> </li>
 <li><a href="/sheohar/map">Sheohar</a> </li>
 <li><a href="/shahdol/map">Shahdol</a> </li>
 <li><a href="/shajapur/map">Shajapur</a> </li>
 <li><a href="/sheikhpura/map">Sheikhpura</a> </li>
 <li><a href="/varanasi/map">Varanasi</a> </li>
 <li><a href="/sheopur/map">Sheopur</a> </li>
 <li><a href="/shivpuri/map">Shivpuri</a> </li>
 <li><a href="/shimla/map">Shimla</a> </li>
 <li><a href="/vidisha/map">Vidisha</a> </li>
 <li><a href="/virudunagar/map">Virudunagar</a> </li>
 <li><a href="/shrawasti/map">Shrawasti</a> </li>
 <li><a href="/visakhapatnam/map">Visakhapatnam</a> </li>
 <li><a href="/sambalpur/map">Sambalpur</a> </li>
 <li><a href="/sivasagar/map">Sivasagar</a> </li>
 <li><a href="/siddharth-nagar/map">Siddharth Nagar</a> </li>
 <li><a href="/sitapur/map">Sitapur</a> </li>
 <li><a href="/sidhi/map">Sidhi</a> </li>
 <li><a href="/sirmaur/map">Sirmaur</a> </li>
 <li><a href="/sikar/map">Sikar</a> </li>
 <li><a href="/simdega/map">Simdega</a> </li>
 <li><a href="/sindhudurg/map">Sindhudurg</a> </li>
 <li><a href="/solapur/map">Solapur</a> </li>
 <li><a href="/sirohi/map">Sirohi</a> </li>
 <li><a href="/sivaganga/map">Sivaganga</a> </li>
 <li><a href="/sirsa/map">Sirsa</a> </li>
 <li><a href="/sitamarhi/map">Sitamarhi</a> </li>
 <li><a href="/sonipat/map">Sonipat</a> </li>
 <li><a href="/siwan/map">Siwan</a> </li>
 <li><a href="/subarnapur/map">Subarnapur</a> </li>
 <li><a href="/solan/map">Solan</a> </li>
 <li><a href="/south-24-parganas/map">South 24 Parganas</a> </li>
 <li><a href="/sonbhadra/map">Sonbhadra</a> </li>
 <li><a href="/sonitpur/map">Sonitpur</a> </li>
 <li><a href="/south-goa/map">South Goa</a> </li>
 <li><a href="/south-garo-hills/map">South Garo Hills</a> </li>
 <li><a href="/south-west/map">South West</a> </li>
 <li><a href="/south-tripura/map">South Tripura</a> </li>
 <li><a href="/srikakulam/map">Srikakulam</a> </li>
 <li><a href="/srinagar/map">Srinagar</a> </li>
 <li><a href="/sultanpur/map">Sultanpur</a> </li>
 <li><a href="/sundargarh/map">Sundargarh</a> </li>
 <li><a href="/supaul/map">Supaul</a> </li>
 <li><a href="/surat/map">Surat</a> </li>
 <li><a href="/ukhrul/map">Ukhrul</a> </li>
 <li><a href="/thanjavur/map">Thanjavur</a> </li>
 <li><a href="/surendranagar/map">Surendranagar</a> </li>
 <li><a href="/shupiyan/map">Shupiyan</a> </li>
 <li><a href="/upper-subansiri/map">Upper Subansiri</a> </li>
 <li><a href="/the-dangs/map">The Dangs</a> </li>
 <li><a href="/tamenglong/map">Tamenglong</a> </li>
 <li><a href="/unnao/map">Unnao</a> </li>
 <li><a href="/tarn-taran/map">Tarn Taran</a> </li>
 <li><a href="/tawang/map">Tawang</a> </li>
 <li><a href="/the-nilgiris/map">The Nilgiris</a> </li>
 <li><a href="/tehri-garhwal/map">Tehri Garhwal</a> </li>
 <li><a href="/thoothukkudi/map">Thoothukkudi</a> </li>
 <li><a href="/uttara-kannada/map">Uttara Kannada</a> </li>
 <li><a href="/theni/map">Theni</a> </li>
 <li><a href="/tikamgarh/map">Tikamgarh</a> </li>
 <li><a href="/thiruvallur/map">Thiruvallur</a> </li>
 <li><a href="/vadodara/map">Vadodara</a> </li>
 <li><a href="/tiruchirappalli/map">Tiruchirappalli</a> </li>
 <li><a href="/thoubal/map">Thoubal</a> </li>
 <li><a href="/tinsukia/map">Tinsukia</a> </li>
 <li><a href="/thrissur/map">Thrissur</a> </li>
 <li><a href="/valsad/map">Valsad</a> </li>
 <li><a href="/tirap/map">Tirap</a> </li>
 <li><a href="/vellore/map">Vellore</a> </li>
 <li><a href="/tonk/map">Tonk</a> </li>
 <li><a href="/tirunelveli/map">Tirunelveli</a> </li>
 <li><a href="/viluppuram/map">Viluppuram</a> </li>
 <li><a href="/tiruppur/map">Tiruppur</a> </li>
 <li><a href="/tiruvannamalai/map">Tiruvannamalai</a> </li>
 <li><a href="/tuensang/map">Tuensang</a> </li>
 <li><a href="/west-kameng/map">West Kameng</a> </li>
 <li><a href="/warangal/map">Warangal</a> </li>
 <li><a href="/wardha/map">Wardha</a> </li>
 <li><a href="/west-khasi-hills/map">West Khasi Hills</a> </li>
 <li><a href="/washim/map">Washim</a> </li>
 <li><a href="/wokha/map">Wokha</a> </li>
 <li><a href="/surguja/map">Surguja</a> </li>
 <li><a href="/bundi/map">Bundi</a> </li>
 <li><a href="/bara-banki/map">Bara Banki</a> </li>
 <li><a href="/ashoknagar/map">Ashoknagar</a> </li>
 <li><a href="/budaun/map">Budaun</a> </li>
 <li><a href="/west-garo-hills/map">West Garo Hills</a> </li>
 <li><a href="/churu/map">Churu</a> </li>
 <li><a href="/dadra-nagar-haveli/map">Dadra & Nagar Haveli</a> </li>
 <li><a href="/wayanad/map">Wayanad</a> </li>
 <li><a href="/west-nimar/map">West Nimar</a> </li>
 <li><a href="/west-godavari/map">West Godavari</a> </li>
 <li><a href="/kabeerdham/map">Kabeerdham</a> </li>
 <li><a href="/yadgir/map">Yadgir</a> </li>
 <li><a href="/west-siang/map">West Siang</a> </li>
 <li><a href="/dausa/map">Dausa</a> </li>
 <li><a href="/west-tripura/map">West Tripura</a> </li>
 <li><a href="/yavatmal/map">Yavatmal</a> </li>
 <li><a href="/yamunanagar/map">Yamunanagar</a> </li>
 <li><a href="/zunheboto/map">Zunheboto</a> </li>
 <li><a href="/karauli/map">Karauli</a> </li>
 <li><a href="/jind/map">Jind</a> </li>
 <li><a href="/jehanabad/map">Jehanabad</a> </li>
 <li><a href="/puducherry/map">Puducherry</a> </li>
 <li><a href="/sawai-madhopur/map">Sawai Madhopur</a> </li>
 <li><a href="/arwal/map">Arwal</a> </li>
 <li><a href="/karaikal/map">Karaikal</a> </li>
 <li><a href="/nagappattinam/map">Nagappattinam</a> </li>
 <li><a href="/yanam/map">Yanam</a> </li>
 <li><a href="/tapi/map">Tapi</a> </li>
 <li><a href="/nicobar/map">Nicobar</a> </li>
 <li><a href="/south-andaman/map">South Andaman</a> </li>
 <li><a href="/north-middle-andaman/map">North & Middle Andaman</a> </li>
 <li><a href="/lakshadweep/map">Lakshadweep</a> </li>
 <li><a href="/bhubaneswar/map">Bhubaneswar</a> </li>
 <li><a href="/guntur/map">Guntur</a> </li>
 <li><a href="/jodhpur/map">Jodhpur</a> </li>
 <li><a href="/leh-ladakh/map">Leh (ladakh)</a> </li>
 <li><a href="/kushinagar/map">Kushinagar</a> </li>
 <li><a href="/lahul-spiti/map">Lahul & Spiti</a> </li>
 <li><a href="/karur/map">Karur</a> </li>
 <li><a href="/imphal-west/map">Imphal West</a> </li>
 <li><a href="/dhule/map">Dhule</a> </li>
 <li><a href="/udham-singh-nagar/map">Udham Singh Nagar</a> </li>
 <li><a href="/kurukshetra/map">Kurukshetra</a> </li>
 <li><a href="/kottayam/map">Kottayam</a> </li>
 <li><a href="/east-garo-hills/map">East Garo Hills</a> </li>
 <li><a href="/janjgir-champa/map">Janjgir-champa</a> </li>
 <li><a href="/mahbubnagar/map">Mahbubnagar</a> </li>
 <li><a href="/garhchiroli/map">Garhchiroli</a> </li>
 <li><a href="/kupwara/map">Kupwara</a> </li>
 <li><a href="/moga/map">Moga</a> </li>
 <li><a href="/ramanathapuram/map">Ramanathapuram</a> </li>
 <li><a href="/singrauli/map">Singrauli</a> </li>
 <li><a href="/thiruvarur/map">Thiruvarur</a> </li>
 <li><a href="/samba/map">Samba</a> </li>
 <li><a href="/barddhaman/map">Barddhaman</a> </li>
 <li><a href="/sant-ravi-das-nagarbhadohi/map">Sant Ravi Das Nagar(bhadohi)</a> </li>
 <li><a href="/north-west/map">North West</a> </li>
 <li><a href="/vizianagaram/map">Vizianagaram</a> </li>
 <li><a href="/marigaon/map">Marigaon</a> </li>
 <li><a href="/prakasam/map">Prakasam</a> </li>
 </ul>

      <!--
      <a href="/mumbai/map">Mumbai</a> <br/>
      <a href="/delhi/map">Delhi</a> <br/>
      <a href="/bengaluru/map">Bengaluru</a> <br/>
      <a href="/bhubaneswar/map">Bhubaneswar</a> <br/>
      <a href="/thiruvananthapuram/map/">Thiruvananthapuram</a> <br/>
      <a href="/chandigarh/map">Chandigarh</a> <br/>
      <a href="/mangalore/map">Mangalore</a> <br/>
      <a href="/kalyan/map">Kalyan</a> <br/>
      <a href="/thane/map">Thane</a> <br/>
      <a href="/ulhasnagar/map">Ulhasnagar</a> <br/>
      <a href="/pune/map">Pune</a> <br/>
      <a href="/nashik/map">Nashik</a> <br/>
      <a href="/hoshangabad/map">Hoshangabad</a> <br/>
      <a href="/goa/map">Goa</a> <br/>
      <a href="/jaipur/map">Jaipur</a> <br/>
      -->
    </p>
  </div>
           
      {% endblock content %}

    </div>

    <footer>{% block footer %}{% endblock footer %}</footer>

    {% block config_scripts %}
      {% if request.instance %}
        <script src="{{ SITE_ROOT }}{{ request.instance.url_name }}/config/settings.js"></script>
      {% else %}
        <script src="{{ SITE_ROOT }}config/settings.js"></script>
      {% endif %}
    {% endblock config_scripts %}

    {% block global_scripts %}
      {% if settings.USE_JS_I18N %}
      <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
      {% endif %}
      {% if settings.DEBUG %}
      <script src="{{ STATIC_URL }}js/treemap.js"></script>
      {% else %}
      <script src="{{ STATIC_URL }}js/treemap.min.js"></script>
      {% endif %}
    {% endblock global_scripts %}

    {% block templates %}
    {% endblock templates %}

    {% verbatim %}
    <script id="geocode-results-template" type="text/x-mustache-template">
      <ul class="list-unstyled">
        {{#candidates}}
        <li><a href="javascript:;" data-class="geocode-result" data-x="{{x}}" data-y="{{y}}" data-srid="{{srid}}" data-address"{{address}}">{{address}}</a></li>
        {{/candidates}}
      </ul>
    </script>
    {% endverbatim %}

    {% block scripts %}
    {% endblock scripts %}

    {% block searchscripts %}
    {% endblock searchscripts %}

    <script type="text/javascript">
      (function(require) {
          require("treemap/buttonEnabler").run({ config: otm.settings });
          require("treemap/export").run({ config: otm.settings });
      })(require);
    </script>

    {% block endbody %}
    {% endblock endbody %}

  </body>
</html>
