{% load i18n %}
{% load instance_config %}

<!DOCTYPE html>
<!--
{{ header_comment }}-->
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}OpenTreeMap{% block instance_title %}{% endblock %}{% block page_title %}{% endblock %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="/favicon.png" />
    {% if settings.DEBUG %}
    <link href="{{ STATIC_URL }}css/vendor.css" rel="stylesheet">
    {% else %}
    <link href="{{ STATIC_URL }}css/vendor.min.css" rel="stylesheet">
    {% endif %}

    {% block application_css %}
    {% if settings.DEBUG %}
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    {% else %}
    <link href="{{ STATIC_URL }}css/main.min.css" rel="stylesheet">
    {% endif %}
    {% endblock application_css %}

    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

    {% block head_extra %}
    {% endblock head_extra %}
  </head>
  <body>
    {% if settings.GOOGLE_ANALYTICS_ID %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-{{ settings.GOOGLE_ANALYTICS_ID }}"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-{{ settings.GOOGLE_ANALYTICS_ID }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
    <div {% block outermost_atts %}{% endblock outermost_atts %} class="wrapper">
      {% block topnav %}
      <!-- Top Nav -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="collapse navbar-collapse" id="otm-navbar-collapse">
          <ul class="pull-left nav navbar-nav navbar-left">
            {# Since the active style changes on a page-by-page basis we use nested blocks below. These nested blocks can then be overriden to change which tab is active. #}
            {% block instancetopnav %}
            {% if last_instance %}
              <li class="explore-trees {% block activeexplore %}active{% endblock %}"><a href="{% url 'map' instance_url_name=last_instance.url_name %}">{% trans "Explore Trees" %}</a></li>
              {% if last_instance|feature_enabled:'add_plot' and last_effective_instance_user %}
              <li data-feature="add_plot">
                <a data-class='add-tree'
                   data-always-enable='{{ last_effective_instance_user|plot_is_writable }}'
                   data-disabled-title='{% trans "Adding trees is not available to all users" %}'
                   data-href="{% url 'map' instance_url_name=last_instance.url_name %}?m=addTree"
                   disabled='disabled'>{% trans "Add a Tree" %}</a>
              </li>
              {% endif %}
            {% endif %}
            {% endblock instancetopnav %}
          </ul>
          <ul class="pull-right nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
              <li class="hidden-xs {% block activeuser %}{% endblock %}">
                <a href="{% url 'profile' %}">{% trans "My Account" %}
                  {% if last_instance %}
                    {% if reputation %}
                    <span class="reputation">({{ last_effective_instance_user.reputation }} rep)</span>
                    {% endif %}
                  {% endif %}
                </a>
              </li>
              <li class="hidden-xs"><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
              <li class="user-img">
                <a href="{% url 'profile' %}">
                {% if request.user.thumbnail %}
                  <img src="{{ request.user.thumbnail.url }}">
                {% else %}
                  <img src="{{ STATIC_URL }}img/profile.png">
                {% endif %}
                </a>
              </li>
              <li class="add-menu dropdown visible-xs-inline-block">
                <a class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-cog"></i>
                </a>
                <ul class="dropdown-menu dropdown-pull-left">
                  <li>
                    <a href="{% url 'profile' %}">{% trans "My Account" %}
                      {% if last_instance %}
                        {% if reputation %}
                        <span class="reputation">({{ last_effective_instance_user.reputation }} rep)</span>
                        {% endif %}
                      {% endif %}
                    </a>
                  </li>
                  <li><a href="{% url 'auth_logout' %}">{% trans "Logout" %}</a></li>
                </ul>
              </li>
            {% else %}
              <li class="hidden-xs"><a id="login" href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
              {% block signup %}
              <li class="hidden-xs"><a href="{% url 'registration_register' %}">{% trans "Sign Up" %}</a></li>
              {% endblock signup %}
              <li class="add-menu dropdown visible-xs-inline-block">
              <a class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-cog"></i>
                </a>
                <ul class="dropdown-menu dropdown-pull-left">
                  <li><a id="login" href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
                  {% block signup_small %}
                  <li><a href="{% url 'registration_register' %}">{% trans "Sign Up" %}</a></li>
                  {% endblock signup_small %}
                </ul>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endblock topnav %}

      {% block header %}
      <!-- Logo and Search -->
      <div class="header">

        {% block logo %}
        <div class="logo hidden-xs">
          <a href="{% if last_instance %}{% url 'map' instance_url_name=last_instance.url_name %}{% else %}/{% endif %}"
            ><img id="site-logo" src="http://trees.metastudio.org/media/logos/trees-at-ms-logo.png" alt="OpenTreeMap">
          </a>
        </div>

        {% endblock logo %}

        <div class="search-wrapper">
          {% block search %}
          {% endblock search %}
          {% block searchoptions %}
          {% endblock searchoptions %}
        </div>

      </div> <!-- end header -->
      {% endblock header %}

      {% block subhead %}
      {% endblock subhead %}

      {% block export %}
      {% endblock export %}
 
      {% block content %}
      <div class="img" style="height:300px; overflow:hidden;">
  <img src="http://nroer.gov.in/static/img/ciet.ncert/B_Backgroud_Water_Colour_display_1024" style="background-width:100%; background-height:100%; background-repeat:no-repeat; color:white; width: 100%;" > </img>
      </div>

  <div class="inner_content" style="padding-left:5%; padding-top:5% ; border-radius:15px; margin: 0 auto; ">

    <h2> <b>Welcome to Trees@MetaStudio!</b> </h2>
    <p> At metaStudio, we attempt to map the trees in and around our localities.  <a href="/mumbai/page/About/"> To know more about us, click here.</a> </p>
    <p> Kindly have a look at the various areas we currently map. Others will be added soon. </p>
    <p>
      <a href="/mumbai/map">Mumbai</a> <br/>
      <a href="/delhi/map">Delhi</a> <br/>
      <a href="/bengaluru/map">Bengaluru</a> <br/>
      <a href="/bhubaneswar/map">Bhubaneswar</a> <br/>
      <a href="/thiruvananthapuram/map/">Thiruvananthapuram</a> <br/>
      <a href="/chandigarh/map">Chandigarh</a> <br/>
      <a href="/mangalore/map">Mangalore</a> <br/>
      <a href="/kalyan/map">Kalyan</a> <br/>
      <a href="/thane/map">Thane</a> <br/>
      <a href="/ulhasnagar/map">Ulhasnagar</a> <br/>
      <a href="/pune/map">Pune</a> <br/>
      <a href="/nashik/map">Nashik</a> <br/>
      <a href="/hoshangabad/map">Hoshangabad</a> <br/>
      <a href="/goa/map">Goa</a> <br/>
      <a href="/jaipur/map">Jaipur</a> <br/>
    </p>
  </div>
           
      {% endblock content %}

    </div>

    <footer>{% block footer %}{% endblock footer %}</footer>

    {% block config_scripts %}
      {% if request.instance %}
        <script src="{{ SITE_ROOT }}{{ request.instance.url_name }}/config/settings.js"></script>
      {% else %}
        <script src="{{ SITE_ROOT }}config/settings.js"></script>
      {% endif %}
    {% endblock config_scripts %}

    {% block global_scripts %}
      {% if settings.USE_JS_I18N %}
      <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
      {% endif %}
      {% if settings.DEBUG %}
      <script src="{{ STATIC_URL }}js/treemap.js"></script>
      {% else %}
      <script src="{{ STATIC_URL }}js/treemap.min.js"></script>
      {% endif %}
    {% endblock global_scripts %}

    {% block templates %}
    {% endblock templates %}

    {% verbatim %}
    <script id="geocode-results-template" type="text/x-mustache-template">
      <ul class="list-unstyled">
        {{#candidates}}
        <li><a href="javascript:;" data-class="geocode-result" data-x="{{x}}" data-y="{{y}}" data-srid="{{srid}}" data-address"{{address}}">{{address}}</a></li>
        {{/candidates}}
      </ul>
    </script>
    {% endverbatim %}

    {% block scripts %}
    {% endblock scripts %}

    {% block searchscripts %}
    {% endblock searchscripts %}

    <script type="text/javascript">
      (function(require) {
          require("treemap/buttonEnabler").run({ config: otm.settings });
          require("treemap/export").run({ config: otm.settings });
      })(require);
    </script>

    {% block endbody %}
    {% endblock endbody %}

  </body>
</html>
