{% extends "base.html" %}
{% load i18n %}
{% load instance_config %}
{% load form_extras %}

{% block application_css %}
{% if request.instance.scss_variables %}
<link id="application-css" href="{% url 'scss' %}?{{ request.instance.scss_query_string }}" rel="stylesheet">
{% elif settings.DEBUG %}
<link id="application-css" href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
{% else %}
<link id="application-css" href="{{ STATIC_URL }}css/main.min.css" rel="stylesheet">
{% endif %}
{% endblock application_css %}

{% block instance_title %} | {{ request.instance.name }}{% endblock %}

{% block instancetopnav %}
{% if request.instance|feature_enabled:'add_plot' and last_effective_instance_user %}
  {% if request.instance.supports_resources %}
    <li class="add-menu dropdown" data-feature="add_plot">
      <a class="dropdown-toggle" data-toggle="dropdown"
         data-always-enable="true"
         data-disabled-title='{% trans "Adding trees is not available to all users" %}'
         disabled='disabled'>
        <i class="icon-plus-circled"></i>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a data-href="{% url 'map' instance_url_name=request.instance.url_name %}?m=addTree"
             data-always-enable="{{ last_effective_instance_user|plot_is_writable }}"
             data-action='addtree'>{% trans "Add a Tree" %}</a>
        </li>
        <li>
          <a data-href="{% url 'map' instance_url_name=request.instance.url_name %}?m=addResource"
             data-always-enable="{{ last_effective_instance_user|plot_is_writable }}"
             data-action='addresource'>{% trans "Add a" %} {{ term.Resource }}</a>
        </li>
      </ul>
    </li>
  {% else %}
    <li data-feature="add_plot">
      <a data-action='addtree'
         data-always-enable='{{ last_effective_instance_user|plot_is_writable }}'
         data-disabled-title='{% trans "Adding trees is not available to all users" %}'
         data-href="{% url 'map' instance_url_name=request.instance.url_name %}?m=addTree"
         disabled='disabled'>{% trans "Add a Tree" %}</a>
    </li>
  {% endif %}
{% endif %}

<li class="explore-map {% block activeexplore %}active{% endblock %}">
  <a href="{% url 'map' instance_url_name=request.instance.url_name %}">
    <span class="hidden-xs">{% trans "Explore Map" %}</span>
    <!-- We hide the logo on mobile, so we show the instance name instead of "Explore Map" to give context about which map you are on -->
    <span class="visible-xs-inline">{{ request.instance.name }}</span>
  </a>
</li>

{% if settings.MODELING_VIEW_NAME %}
  {% if request.instance|feature_enabled:'modeling' %}
    <li class="dropdown {% block activemodeling %}{% endblock %}">
      <a class="dropdown-toggle" data-toggle="dropdown">{% trans "Plan" %}</a>
      <ul class="modeling dropdown-menu">
        <li><a href="{% url settings.MODELING_VIEW_NAME instance_url_name=request.instance.url_name %}?m=prioritization" class="switch-prioritization-tab">{% trans "Prioritize Planting Sites" %}</a></li>
        <li><a href="{% url settings.MODELING_VIEW_NAME instance_url_name=request.instance.url_name %}?m=scenarios" class="switch-scenarios-tab">{% trans "Model Urban Forest Scenarios" %}</a></li>
        <li><a href="">{% trans "Saved Simulations" %}</a></li>
      </ul>
    </li>
  {% endif %}
{% endif %}

{% if request.instance|feature_enabled:'recent_edits_report' %}
<li class="hidden-xs {% block activerecentedits %}{% endblock %}">
  <a href="{% url 'edits' instance_url_name=request.instance.url_name %}">{% trans "View Edits" %}</a>
</li>
{% endif %}

{% if settings.MANAGEMENT_VIEW_NAME and last_effective_instance_user.admin %}
<li class="hidden-xs {% block activemanagement %}{% endblock %}">
  <a href="{% url settings.MANAGEMENT_VIEW_NAME instance_url_name=request.instance.url_name %}">{% trans "Manage" %}</a>
</li>
{% endif %}
{% endblock instancetopnav %}

{% block signup %}
<li class="hidden-xs">
  <a href="{% url 'instance_registration_register' instance_url_name=request.instance.url_name %}">{% trans "Sign Up" %}</a>
</li>
{% endblock signup %}
{% block signup_small %}
<li>
  <a href="{% url 'instance_registration_register' instance_url_name=request.instance.url_name %}">{% trans "Sign Up" %}</a>
</li>
{% endblock signup_small %}

{% block subhead %}
<div class="subhead">
  {% with advanced_search_fields=request.instance.advanced_search_fields %}
  {% if request.instance|feature_enabled:'advanced_search_filters' %}
  <div class="advanced-search">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>{% trans "Detail Filters" %}</h4>
          {% for json in request.instance.advanced_search_fields.standard %}
            {% search from json for request.user in request.instance withtemplate "treemap/field/search.html" %}
          {% endfor %}
        </div>
        <div class="col-md-3" id="display-filters" data-search-type="IN"
            data-search-identifier="mapFeature.feature_type">
          <h4>{% trans "Display Filters" %}</h4>
          {% for field in request.instance.advanced_search_fields.display %}
            {% include "treemap/partials/display_filters.html" %}
          {% endfor %}
        </div>
        <div class="col-md-3" id="missing-data">
          <h4>{% trans "Missing Data" %}</h4>
          {% for json in request.instance.advanced_search_fields.missing %}
            {% search from json for request.user in request.instance withtemplate "treemap/field/search.html" %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% include "udfc_search.html" %}

  <div class="stats-bar hidden-xs">
    <div class="half">
      <div style="display: inline;" id="tree-and-planting-site-counts">
      </div>
      {% block subhead_exports %}
        {% if not request.instance|feature_enabled:'exports' %}
        <a href="javascript:;" class="btn btn-primary btn-xs exportBtn"
           data-export-start-url="{% url 'begin_export' instance_url_name=request.instance.url_name model='tree' %}">
          <i class="icon-export"></i> {% trans "Export Search Results" %}
        </a>
        {% endif %}
      {% endblock subhead_exports %}
    </div>
    <div class="half">
      {% if request.instance|feature_enabled:'add_plot' and last_effective_instance_user %}
        {% if request.instance.supports_resources %}
        <a class="btn btn-primary addBtn"
           data-action='addresource'
           data-feature="add_plot"
           data-always-enable="{{ last_effective_instance_user|plot_is_writable }}"
           data-disabled-title=
             "{% blocktrans with resources=terms.resources %}Adding {{ resources }} is not available to all users {% endblocktrans %}"
           data-href="{% url 'map' instance_url_name=request.instance.url_name %}?m=addResource"
           disabled="disabled"><i class="icon-plus"></i> {% trans "Add a" %} {{ term.Resource }}</a>
        {% endif %}
      <a class="btn btn-primary addBtn"
         data-action='addtree'
         data-feature="add_plot"
         data-always-enable="{{ last_effective_instance_user|plot_is_writable }}"
         data-disabled-title="{% trans "Adding trees is not available to all users" %}"
         data-href="{% url 'map' instance_url_name=request.instance.url_name %}?m=addTree"
         disabled="disabled"><i class="icon-plus"></i> {% trans "Add a Tree" %}</a>
      {% endif %}
    </div>
  </div>
  {% endwith %}
</div>
{% endblock subhead %}

{% block export %}
{% include "treemap/partials/export.html" %}
{% endblock export %}

{% block search %}
<div class="search-block-wrapper">
  {% include "treemap/partials/search_species.html" %}
</div>
{% endblock search %}

{% block searchoptions %}
<div class="search-options">
  <a id="perform-search" class="btn btn-primary btn-lg btn-block">{% trans "Search" %}</a>
  <div class="btn-group">
    <button id="search-advanced" class="btn btn-default btn-sm">{% trans "Advanced" %}</button>
    <button id="search-reset" class="btn btn-default btn-sm">{% trans "Reset" %}</button>
  </div>
</div>
{% endblock searchoptions %}

{% block searchscripts %}
<script type="text/javascript">
    // This allows searches on non-map pages to redirect to the map page.
    // Map pages should override this block, and not call this function.
    (function(require) {
        require("treemap/searchBar").initDefaults(otm.settings);
    })(require);
</script>
{% endblock searchscripts %}

{% block footer %}
<div class="footer-inner">
  {% with linkData=request.instance|instance_config:"linkData" %}
  <ul class="list-inline pull-left">
    <li><a target="_blank"
           href="http://www.metastudio.org/cube"
           >{% trans "CUBE" %}</a></li>
    {% for name in request.instance.static_page_names %}
    <li><a href="{% url 'static_page' instance_url_name=request.instance.url_name page=name %}">{{ name }}</a></li>
    {% endfor %}
    {% if 'contact' in linkData.keys and linkData.contact %}
    <li><a href="mailto:{{ linkData.contact }}">{% trans "Contact" %}</a></li>
    {% endif %}
  </ul>
  {% endwith %}
</div>
{% endblock footer %}

{% block templates %}
{% verbatim %}
<script id="species-element-template" type="text/x-mustache-template">
  <p>{{common_name}}</p>
  <p>{{scientific_name}}</p>
</script>
<script id="boundary-element-template" type="text/x-mustache-template">
  <p>{{name}}</p>
  <p>{{category}}</p>
</script>

<script id="geocode-results-template" type="text/x-mustache-template">
<ul class="list-unstyled">
{{#candidates}}
<li><a href="javascript:;" data-class="geocode-result" data-x="{{x}}" data-y="{{y}}" data-srid="{{srid}}" data-address"{{address}}">{{address}}</a></li>
{{/candidates}}
</ul>
</script>

{% endverbatim %}
{% endblock templates %}
