<table class="table table-hover">
    <thead>
        <tr>
            <th>Import Event</th>
            <th>Status</th>
            <th>Rows</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
    {% for ie in things %}
        <tr>
            <td>{{ ie }}</td>
            <td>{{ ie.status_summary }}</td>
            <td>
                {% if ie.is_finished %}
                    {{ ie.row_count }}
                {% elif ie.is_loading %}
                    {{ ie.row_count }}
                {% elif ie.is_running %}
                    {{ ie.completed_row_count }} / {{ ie.row_count }}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'importer:status' import_type=import_type import_event_id=ie.pk instance_url_name=request.instance.url_name %}">View</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

