{% load i18n %}

<div class="contained topper">
  <div>
    <div class="col-md-12">
      <div>
        <div>
          <div class="row">
            <div class="col-md-12">
              <h2>{% trans "Import Status" %}</h2>
              <hr>
            </div>
          </div>
          <br>
          <div class="row">
            {% block main %}
            {% endblock main %}
          </div>

          {% block extra_buttons %}
          {% endblock extra_buttons %}

          <a class="btn btn-info btn-large pull-left" data-action="back"
              href="{% url 'importer:list_imports' instance_url_name=request.instance.url_name %}">
              <i class="icon-left-open"></i>
            {% trans "Back to Uploads" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
